{
  // https://github.com/airbnb/javascript
  /*
  yarn add eslint
  yarn add eslint-config-airbnb
  yarn add babel-eslint
  yarn add eslint-plugin-jsx-a11y
  yarn add eslint-plugin-react
  yarn add eslint-plugin-import
  */
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "max-len": ["error", 120],
  }
}
